@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Spectral:wght@200;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-brown-800 font-serif font-thin text-white;
    background-attachment: fixed;
    background-image: url("../assets/images/zodiac-wiki-bg.png");
    background-position: center;
    background-size: cover;
}

.bg-blur-12 {
    backdrop-filter: blur(12px);
}

a, .link {
    @apply text-green-300;

    &:hover {
        @apply underline;
    }

    &.new {
        @apply text-red-600;
    }
}

.personal-tools li {
    @apply mr-2;
}

.sidebar-list {
    li {
        @apply p-0 text-brown-400 leading-none mt-2;
    }
}

.content-actions {
    li {
        @apply font-mono text-sm bg-brown-800 border border-brown-500 text-brown-300 px-2 py-1 leading-none;
        a {
            @apply text-brown-300;
        }
        &.selected {
            @apply bg-brown-500;
            a {
                @apply text-white;
            }
        }
    }
}

.page-title {
    @apply w-full mb-6;

    & .mw-indicators {
        display: inline-block;
        float: right;

        & .mw-indicator {
            display: inline-block;
        }
    }

    ul {
        @apply mt-4;
    }

    li {
        @apply mr-2;

        a {
            @apply text-brown-400 text-sm;
        }
    }
}

.catlinks {
    @apply p-2 bg-black border border-brown-900 rounded mt-4;

    li {
        border-left: 1px solid #5c6370;

        a {
            @apply text-brown-400;
        }

        a.new {
            @apply text-red-600;
        }
    }
}

div.mw-search-profile-tabs {
    @apply bg-brown-900 border border-brown-500 text-white;

    ul {
        list-style-type: none;
    }

    .current a {
        @apply font-bold text-white;
    }
}

.oo-ui-popupWidget-popup {
    @apply text-brown-800;
}

input:not([type]), input[type=text], input[type=search] {
    @apply py-1 px-2 text-white bg-brown-800;
}

.suggestions {
    div.suggestions-results, div.suggestions-special {
        @apply bg-brown-900 text-white border-brown-800 border;

        .suggestions-result {
            @apply text-white;
        }

        div.suggestion-result-current {
            @apply bg-green-800 text-white;
        }

        div.special-query {
            @apply text-white;
        }
    }
}

#toc input[type=search] {
    display: table;
    background: #0c1016;
    @apply p-2 my-2 text-white border border-brown-900;

    .tocnumber {
        @apply text-white;
    }

    .toctitle h2 {
        @apply inline-block my-1;
    }

    ul {
        @apply mx-4;
        list-style: none;
        padding: 0;

        li a {
            @apply text-brown-500;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply text-brown-100 leading-none p-0 m-0 mt-4 mb-1 font-bold;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

h6 {
    @apply text-sm;
}

.thumb {
    background: #0c1016 !important;
    @apply p-2 m-2 border border-brown-900 text-brown-100;

    .thumbcaption {
        @apply mt-2;
    }
}

* > table.wikitable > tr > th,
* > table.wikitable > tr > td,
* > table.wikitable > * > tr > th,
* > table.wikitable > * > tr > td {
    border: 1px solid #2D3748;
}

table.wikitable, table.mw-datatable, table.mw-abuselog-details {
    background: #0c1016 !important;
    @apply text-brown-200 border border-brown-900;

    .sv-space {
        display: none;
    }

    th {
        background: #1A202C !important;
    }

    td {
        background: #0c1016 !important;
    }
}

.articlebody ol, .mw-parser-output ol {
    @apply list-decimal pl-2;
}

.articlebody ul, .mw-parser-output ul {
    @apply list-disc pl-2;
}

p {
    @apply my-1;
}

textarea {
    @apply bg-brown-900 border border-brown-500 text-white p-2;
}

code {
    @apply bg-brown-900 border border-brown-500 py-1 px-2;
}

table {
    border-collapse: separate;
}

.personal-tools {
    #pt-notifications-alert a.mw-echo-notifications-badge:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%white%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E bell %3C/title%3E %3Cpath d=%22M16 7a5.38 5.38 0 0 0-4.46-4.85C11.6 1.46 11.53 0 10 0S8.4 1.46 8.46 2.15A5.38 5.38 0 0 0 4 7v6l-2 2v1h16v-1l-2-2zm-6 13a3 3 0 0 0 3-3H7a3 3 0 0 0 3 3z%22/%3E %3C/svg%3E");
    }

    #pt-notifications-notice .mw-echo-notifications-badge:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%white%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E tray %3C/title%3E %3Cpath d=%22M17 1H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 12h-4l-1 2H8l-1-2H3V3h14z%22/%3E %3C/svg%3E");
    }
}

span.oo-ui-icon-collapse, span.mw-ui-icon-collapse:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23ffffff'%3E%3Ctitle%3E collapse %3C/title%3E%3Cpath d='m2.5 15.25 7.5-7.5 7.5 7.5 1.5-1.5-9-9-9 9z'/%3E%3C/svg%3E");
}

span.oo-ui-icon-expand, span.mw-ui-icon-expand:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23ffffff'%3E%3Ctitle%3E expand %3C/title%3E %3Cpath d=%22m17.5 4.75-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z%22/%3E %3C/svg%3E")
}

#mw-indicator-mw-helplink a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23A8E07E'%3E%3Cscript xmlns=''/%3E%3Ctitle%3E help %3C/title%3E%3Cpath d='M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm1 16H9v-2h2zm2.71-7.6a2.64 2.64 0 0 1-.33.74 3.16 3.16 0 0 1-.48.55l-.54.48c-.21.18-.41.35-.58.52a2.54 2.54 0 0 0-.47.56A2.3 2.3 0 0 0 11 12a3.79 3.79 0 0 0-.11 1H9.08a8.9 8.9 0 0 1 .07-1.25 3.28 3.28 0 0 1 .25-.9 2.79 2.79 0 0 1 .41-.67 4 4 0 0 1 .58-.58c.17-.16.34-.3.51-.44a3 3 0 0 0 .43-.44 1.83 1.83 0 0 0 .3-.55 2 2 0 0 0 .11-.72 2.06 2.06 0 0 0-.17-.86 1.71 1.71 0 0 0-1-.9 1.7 1.7 0 0 0-.5-.1 1.77 1.77 0 0 0-1.53.68 3 3 0 0 0-.5 1.82H6.16a4.74 4.74 0 0 1 .28-1.68 3.56 3.56 0 0 1 .8-1.29 3.88 3.88 0 0 1 1.28-.83A4.59 4.59 0 0 1 10.18 4a4.44 4.44 0 0 1 1.44.23 3.51 3.51 0 0 1 1.15.65 3.08 3.08 0 0 1 .78 1.06 3.54 3.54 0 0 1 .29 1.45 3.39 3.39 0 0 1-.13 1.01z'/%3E%3C/svg%3E");
}

.mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .oo-ui-tagMultiselectWidget-handle,
.mw-rcfilters-ui-filterTagMultiselectWidget-wrapper-content-title {
    background-color: #0c1016 !important;
    color: #EDF2F7 !important;
}

.mw-highlight {
    @apply p-2;
    background-color: #0c1016 !important;
    border: 1px solid #1A202C !important;
    color: #EDF2F7 !important;
}

.mwe-popups {
    background-color: #0c1016 !important;
    border: 1px solid #1A202C !important;
    color: #EDF2F7 !important;

    .mwe-popups-extract {
        /* make the text white */
        color: #EDF2F7 !important;

        &::after {
            background-image: none !important;
        }
    }
}

.footer {
    @apply mt-6 p-6 bg-brown-900 bg-opacity-80 border-brown-500 border-2 border-double;
    backdrop-filter: blur(12px);

    ul {
        @apply ml-0;

        li {
            @apply inline-block mr-4;
        }
    }

    .footer-icons {
        display: inline-block;
        float: right;

        & div {
            @apply mr-2 inline-block;
        }
    }

}

.mw-editform {
    @apply mt-6;

    textarea {
        @apply w-full;
    }
}

.mw-body-content .mw-number-text h3 {
    @apply text-white;
}

.editOptions {
    border-top: 1px solid;
    @apply bg-brown-800 border border-brown-500 mt-8 text-white;
}

.editButtons {
    @apply mt-4;
}

.oo-ui-inputWidget-input,
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
    @apply bg-brown-900 border border-brown-500 text-white;
}

span.oo-ui-indicator-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22%23ffffff%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E %3Ctitle%3E down %3C/title%3E %3Cpath d=%22M9.9 2.9 6 6.8 2.1 2.9 1 4l5 5 5-5z%22/%3E %3C/svg%3E")
}

.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:hover,
.oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open .oo-ui-dropdownWidget-handle,
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle {
    @apply bg-brown-900 border border-brown-500 text-white rounded-none;
}

.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
    @apply text-white;
}

.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:hover {
    @apply bg-brown-800 bg-opacity-50;
}

.oo-ui-menuSelectWidget:not(.mw-rcfilters-ui-menuSelectWidget) {
    background-color: #0b0d11;

    &.oo-ui-widget-enabled {
        @apply bg-brown-900;
    }
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
    @apply bg-black;
}

/* revert tailwind reset */
a.image img {
    display: inline-block;
}

select, button, input {
    @apply bg-brown-900 border border-black rounded-sm shadow text-brown-100 p-1;

    &:disabled {
        @apply text-red-200 italic;
    }
}

.diff-context {
    @apply bg-brown-900 text-white border-brown-800;
}

.diffchange {
    @apply text-black;
}

#pagehistory li.selected {
    @apply bg-brown-900 border-brown-800 text-brown-100;
}

.printfooter {
	@apply hidden;
}