.personal-tools li {
  @apply mr-2;
}

.sidebar-list {
  li {
      @apply p-0 text-brown-400 leading-none mt-2;
  }
}

.content-actions {
  li {
      @apply font-mono text-sm bg-brown-800 border border-brown-500 text-brown-300 px-2 py-1 leading-none;
      a {
          @apply text-brown-300;
      }
      &.selected {
          @apply bg-brown-500;
          a {
              @apply text-white;
          }
      }
  }
}

.page-title {
  @apply w-full mb-6;

  & .mw-indicators {
      display: inline-block;
      float: right;

      & .mw-indicator {
          display: inline-block;
      }
  }

  ul {
      @apply mt-4;
  }

  li {
      @apply mr-2;

      a {
          @apply text-brown-400 text-sm;
      }
  }
}

.catlinks {
  @apply p-2 bg-brown-900 border border-brown-500 mt-4;

  li {
      border-left: 1px solid #5c6370;

      a {
          @apply text-brown-400;
      }

      a.new {
          @apply text-purple-400 pl-2;
      }
  }
}

div.mw-search-profile-tabs {
  @apply bg-brown-900 border border-brown-500 text-white;

  ul {
      list-style-type: none;
  }

  .current a {
      @apply font-bold text-white;
  }
}

.suggestions {
  div.suggestions-results, div.suggestions-special {
      @apply bg-brown-900 text-white border-brown-800 border;

      .suggestions-result {
          @apply text-white;
      }

      div.suggestion-result-current {
          @apply bg-green-800 text-white;
      }

      div.special-query {
          @apply text-white;
      }
  }
}

.toc {
  @apply bg-brown-900 border border-brown-500 p-4;
}

#mw-toc-heading {
  @apply mt-0 font-mono;
}

.mw-parser-output ul {
  @apply list-inside;
  li {
      @apply mt-2;
  }
}

.mw-editsection {
  @apply text-sm pl-2;
}

.mw-watchlist-owner,
.mw-watchlist-toollinks,
.mw-contributions-user-tools {
  @apply text-sm;
}

#toc input[type=search] {
  display: table;
  background: #0c1016;
  @apply p-2 my-2 text-white border border-brown-900;

  .tocnumber {
      @apply text-white;
  }

  .toctitle h2 {
      @apply inline-block my-1;
  }

  ul {
      @apply mx-4;
      list-style: none;
      padding: 0;

      li a {
          @apply text-brown-500;
      }
  }
}

.personal-tools {
  #pt-notifications-alert a.mw-echo-notifications-badge:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%white%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E bell %3C/title%3E %3Cpath d=%22M16 7a5.38 5.38 0 0 0-4.46-4.85C11.6 1.46 11.53 0 10 0S8.4 1.46 8.46 2.15A5.38 5.38 0 0 0 4 7v6l-2 2v1h16v-1l-2-2zm-6 13a3 3 0 0 0 3-3H7a3 3 0 0 0 3 3z%22/%3E %3C/svg%3E");
  }

  #pt-notifications-notice .mw-echo-notifications-badge:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%white%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E tray %3C/title%3E %3Cpath d=%22M17 1H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 12h-4l-1 2H8l-1-2H3V3h14z%22/%3E %3C/svg%3E");
  }
}

#mw-indicator-mw-helplink a {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23A8E07E'%3E%3Cscript xmlns=''/%3E%3Ctitle%3E help %3C/title%3E%3Cpath d='M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm1 16H9v-2h2zm2.71-7.6a2.64 2.64 0 0 1-.33.74 3.16 3.16 0 0 1-.48.55l-.54.48c-.21.18-.41.35-.58.52a2.54 2.54 0 0 0-.47.56A2.3 2.3 0 0 0 11 12a3.79 3.79 0 0 0-.11 1H9.08a8.9 8.9 0 0 1 .07-1.25 3.28 3.28 0 0 1 .25-.9 2.79 2.79 0 0 1 .41-.67 4 4 0 0 1 .58-.58c.17-.16.34-.3.51-.44a3 3 0 0 0 .43-.44 1.83 1.83 0 0 0 .3-.55 2 2 0 0 0 .11-.72 2.06 2.06 0 0 0-.17-.86 1.71 1.71 0 0 0-1-.9 1.7 1.7 0 0 0-.5-.1 1.77 1.77 0 0 0-1.53.68 3 3 0 0 0-.5 1.82H6.16a4.74 4.74 0 0 1 .28-1.68 3.56 3.56 0 0 1 .8-1.29 3.88 3.88 0 0 1 1.28-.83A4.59 4.59 0 0 1 10.18 4a4.44 4.44 0 0 1 1.44.23 3.51 3.51 0 0 1 1.15.65 3.08 3.08 0 0 1 .78 1.06 3.54 3.54 0 0 1 .29 1.45 3.39 3.39 0 0 1-.13 1.01z'/%3E%3C/svg%3E");
}

.mw-prefs-buttons {
  @apply bg-brown-900 border border-brown-500 px-2;
}

.mwe-popups {
  // background-color: #0c1016 !important;
  // border: 1px solid #1A202C !important;
  // color: #EDF2F7 !important;

  .mwe-popups-extract {
      /* make the text white */
      // color: #EDF2F7 !important;

      &::after {
          background-image: none !important;
      }
  }
}

.mw-editform {
  @apply mt-6;

  textarea {
      @apply w-full;
  }
}

.mw-body-content .mw-number-text h3 {
  @apply text-white;
}

.mw-email-not-authenticated .oo-ui-labelWidget {
  @apply bg-brown-200 border border-brown-500 text-brown-900;
}

.mw-rcfilters-ui-changesListWrapperWidget div.mw-changeslist-legend {
  @apply bg-brown-900 border border-brown-500 text-white;
  dt:not(.mw-plusminus-pos) {
      @apply text-brown-300;
  }
}